# ── API Backend URL  ──────────
VITE_API_URL=https://api.yourdomain.com

VITE_GOOGLE_CLIENT_ID=your_google_client_id_here

VITE_GOOGLE_URL=https://accounts.google.com/o/oauth2/v2/auth

VITE_REDIRECT_URI=https://yourdomain.com/a

VITE_SERVER_ALIAS_URL=https://api.yourdomain.com/view

VITE_SITE_KEY_CAPCHA=your_recaptcha_site_key_here
